{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<div id="poll_list">
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            {#<li><a href="/polls/{{ question.id }}">{{ question.question_text }} - {{ question.pub_date }}</a></li>#}
            <a href="{% url 'polls:detail' question.id %}">
                <div>
                    {{ question.question_text }}
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>目前没有可用Polls。</p>
    {% endif %}
</div>