li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

div ul {
    padding: 0;
    margin: 0;
}

#poll_list div {
    text-align: left;
    line-height: 32px;
    color: white;
    width: 200px;
    height: 32px;
    background-color: #4e6a8e;
    overflow: hidden;
}

#poll_list div:hover {
    background-color: #6684b4;
}

#poll_list li {
    list-style: none;
    padding-left: 32px;
}

body {
    background: #fff url("images/backgound.png");
}